.sidebar {
  background-color: #1e1e1e;
  color: white;
  padding: 10px;
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 111; */
}
h4{
  color: #1e1e1e;
}
.sidebar a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background 0.3s ease;
}

.sidebar a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.content {

  /* لما يكون السايد بار موجود، اعمل مارجن علشان الصفحة تتحرك */
  /* margin-left: 250px; */
}
